.book-filter {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem !important;
}

.filter-btn {
  background-color: rgba(255, 255, 255, 0.5);
  color: #5e3370;
  border: 1px solid #ddd;
}

.filter-btn.active,
.filter-btn:hover {
  background-color: #8e44ad;
  color: white;
  border-color: #8e44ad;
}